# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
**/local.properties
**/gradle-wrapper.jar
**/gradle-wrapper.properties
**/gradle.properties
**/build/
**/captures/
**/generated/
**/app/**/*.iml

# Visual Studio Code
.vscode/

# IntelliJ
*.iml
.idea/
